/*重置*/
body,html,ul,ol,li,p,h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
.mainContent {
	margin: 30px auto;
	width: 80%;
}
.navBar {
	margin-top: 20px;
	margin-left: -30px;
	list-style-type: none;
	/*background-color: ;*/
	overflow: hidden;
}
.navBar li {
	float: left;
	margin-left: 30px;
}
.partTitle {
	margin-top: 25px;
	margin-bottom: 20px;
}
.articleTitle {
	margin-bottom: 20px;
	margin-top: 5px;
	border-bottom: 1px solid #666;
	cursor: pointer;
}
