/*重置*/
body,html,ul,ol,li,p,h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
.navBar {
	margin-top: 30px;
	width: 80%;
}
.navBar ul {
	margin-top: 20px;
	list-style-type: none;
	background-color: 
}
.navBar li {
	float: left;
}
